<h2>Chat:</h2>
<!-- <div class="page1_block col1"> <img src="images/welcome_img.png" alt="">
  
  <div class="extra_wrapper">
    <p><span class="col2"><a href="#">Click here</a></span> for more info about this free website template created by TemplateMonster.com </p>
    Aenean nonummy hendrerit mau rellus porta. Fusce suscipit varius m sociis natoque penaibet magni parturient montes nasetur ridiculumula dui. <br>
    <a href="#" class="btn">more</a> </div>
  <div class="clear"></div>
</div> -->
<div id="mario-chat">
  <div id="chat-window">
      <div id="output">
        <div *ngFor="let msg of this.messages">
          <p><strong>{{msg.handle}}</strong>: {{msg.message}}</p>
        </div>
      </div>
  </div>
  <input id="handle" type="text" placeholder="Please enter your name"  [(ngModel)]="name" />
  <input id="message" type="text" placeholder="Message"  [(ngModel)]="message" />
  <button id="send" (click)="sendMessage()">Send</button>
</div>