<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active">
        <!-- <a routerLink="/books/create" routerLinkActive="active">
          Add Books
        </a> -->
      </li>
    </ul>
  </div>
  <ng-template #forminfo>
    <div class="form-container">
      <div class="row columns">
        <h1>{{ name }}</h1>

        <p>{{ description }}</p>
      </div>
    </div>
  </ng-template>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div> 
<div class="grid_7">
  <app-chat></app-chat>
</div>
<div class="grid_5">
  <app-search></app-search>
</div>
<div class="clear"></div>
<div class="grid_12">
  <div class="hor_separator"></div>
</div>
<div class="grid_12">
  <app-restaurant-results></app-restaurant-results>
</div>

<div class="clear"></div>
<div class="grid_12">
  <div class="hor_separator"></div>
</div>
<!-- <div class="grid_12">
  <app-recepies-results></app-recepies-results>
</div> -->
<div class="grid_12">
  <app-recipe-results></app-recipe-results>
</div>
<div class="grid_12">
  <div class="hor_separator"></div>
</div>
<div class="grid_12">
  <stats-label></stats-label>
</div>
<div class="grid_12">
  <div class="hor_separator"></div>
</div> 
<div class="grid_12">
  <stats-rating></stats-rating>
</div>