<header>
    <h1 id="c">Welcome to RestFinder!</h1>
    <canvas id="canvas"></canvas>
</header>

<div>
<nav>

  <div id="Statistics">
      <a href="/html/">Statistics</a>
  </div>
  <div id="Mangment">
      <a href="/html/">Mangment Tool</a>
  </div>
  <div id="facebook">
      <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.ynet.co.il%2Fhome%2F0%2C7340%2CL-8%2C00.html&layout=button_count&size=small&mobile_iframe=true&appId=378368525904494&width=83&height=20" width="83" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
  </div>
</nav>
</div>
  

<div>
  <aside>
    <h4>s Search Center</h4>
    <p>by photo</p>
    <p>by params</p>
  </aside>
</div>
<!-- 
<section>
  section

  <table>
    <tr>
      <th>col 1</th>
      <th>col 2</th>
    </tr>
    <tbody>
      <tr>
        <td>cell 1</td>
        <td>cell 2</td>
      </tr>
      <tr>
        <td>cell 3</td>
        <td>cell 4</td>
      </tr>
    </tbody>
  </table>
</section> -->

<footer>
  <a href="/html/">HOW TO USE</a> 
  <a href="/html/">CONTACT US</a> 
  <a href="/html/">ABOUT</a> 
  <a href="/html/">FAQ</a> 
</footer>