<h1 id="c">Welcome to RestFinder!</h1>

<div>
<nav>
  <div id="a">
      <a href="/html/">Statistics</a>

  </div>
  <div id="b">
      <a href="/html/">Mangment Tool</a>
  </div>

</nav>
</div>
  

<div>
  <aside>
    <h4>s Search Center</h4>
    <p>by photo</p>
    <p>by params</p>
  </aside>
</div>
<!-- 
<section>
  section

  <table>
    <tr>
      <th>col 1</th>
      <th>col 2</th>
    </tr>
    <tbody>
      <tr>
        <td>cell 1</td>
        <td>cell 2</td>
      </tr>
      <tr>
        <td>cell 3</td>
        <td>cell 4</td>
      </tr>
    </tbody>
  </table>
</section> -->

<footer>
  <a href="/html/">HOW TO USE</a> 
  <a href="/html/">CONTACT US</a> 
  <a href="/html/">ABOUT</a> 
  <a href="/html/">FAQ</a> 
</footer>